<html>

    <body>
        <%- include('header') %>

        <h1 class="he">Welcome to OLX</h1>

        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
            <% for(var i = 0; i < ads.length; i++) { %>
            <tr>
                <td><%=i+1 %></td>
                <td><%=ads[i].name %></td>
                <td>
                    <a href="/ad/<%=ads[i].id %>">
                        show
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </body>

</html>